PORT=
NOVE_ENV=

DATABASE_URL=
FRONTEND_URL=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

RESEND_API_KEY=
EMAIL_FROM=

PASSWORD_RESET_URL=